.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 2%;
  padding-left: 2%;
  padding-top: 6%;
  max-width: 98%;
  position: relative;
  z-index: 2; }

.row {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -1%;
  margin-left: -1%; }

.row.reverse {
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse; }

.col.reverse {
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  flex-direction: column-reverse; }

.col-0,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  padding-right: 1%;
  padding-left: 1%; }

.col-0 {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  -webkit-flex-basis: 0;
  flex-basis: 0;
  max-width: 100%; }

.col-1 {
  -ms-flex-preferred-size: 8.333%;
  -webkit-flex-basis: 8.333%;
  flex-basis: 8.333%;
  max-width: 8.333%; }

.col-2 {
  -ms-flex-preferred-size: 16.667%;
  -webkit-flex-basis: 16.667%;
  flex-basis: 16.667%;
  max-width: 16.667%; }

.col-3 {
  -ms-flex-preferred-size: 25%;
  -webkit-flex-basis: 25%;
  flex-basis: 25%;
  max-width: 25%; }

.col-4 {
  -ms-flex-preferred-size: 33.333%;
  -webkit-flex-basis: 33.333%;
  flex-basis: 33.333%;
  max-width: 33.333%; }

.col-5 {
  -ms-flex-preferred-size: 41.667%;
  -webkit-flex-basis: 41.667%;
  flex-basis: 41.667%;
  max-width: 41.667%; }

.col-6 {
  -ms-flex-preferred-size: 50%;
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
  max-width: 50%; }

.col-7 {
  -ms-flex-preferred-size: 58.333%;
  -webkit-flex-basis: 58.333%;
  flex-basis: 58.333%;
  max-width: 58.333%; }

.col-8 {
  -ms-flex-preferred-size: 66.667%;
  -webkit-flex-basis: 66.667%;
  flex-basis: 66.667%;
  max-width: 66.667%; }

.col-9 {
  -ms-flex-preferred-size: 75%;
  -webkit-flex-basis: 75%;
  flex-basis: 75%;
  max-width: 75%; }

.col-10 {
  -ms-flex-preferred-size: 83.333%;
  -webkit-flex-basis: 83.333%;
  flex-basis: 83.333%;
  max-width: 83.333%; }

.col-11 {
  -ms-flex-preferred-size: 91.667%;
  -webkit-flex-basis: 91.667%;
  flex-basis: 91.667%;
  max-width: 91.667%; }

.col-12 {
  -ms-flex-preferred-size: 100%;
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  max-width: 100%; }

.col-offset-1 {
  margin-left: 8.333%; }

.col-offset-2 {
  margin-left: 16.667%; }

.col-offset-3 {
  margin-left: 25%; }

.col-offset-4 {
  margin-left: 33.333%; }

.col-offset-5 {
  margin-left: 41.667%; }

.col-offset-6 {
  margin-left: 50%; }

.col-offset-7 {
  margin-left: 58.333%; }

.col-offset-8 {
  margin-left: 66.667%; }

.col-offset-9 {
  margin-left: 75%; }

.col-offset-10 {
  margin-left: 83.333%; }

.col-offset-11 {
  margin-left: 91.667%; }

.start {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  text-align: start; }

.center {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center; }

.end {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  -webkit-box-pack: end;
  justify-content: flex-end;
  text-align: end; }

.top {
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  -webkit-box-align: start;
  align-items: flex-start; }

.middle {
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center; }

.bottom {
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  -webkit-box-align: end;
  align-items: flex-end; }

.around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.between {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between; }

.first {
  -webkit-order: -1;
  -ms-flex-order: -1;
  -webkit-box-ordinal-group: 0;
  order: -1; }

.last {
  -webkit-order: 1;
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
  order: 1; }

@media screen and (max-width: 800px) {
  .col-sm-12 {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%; }

  .spc-sm {
    margin-bottom: 25px; } }
/*Variables que definen los colores principales de Pavis.Css*/
/*Estilos inicializadores*/
body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff; }

a {
  text-decoration: none; }

.default {
  color: #E9E9E9; }

.primary {
  color: #0277bd; }

.success {
  color: #0A9E2F; }

.warning {
  color: #f9a825; }

.danger {
  color: #B71C1C; }

.info {
  color: #90caf9; }

.dark {
  color: #000; }

.pink {
  color: #EC5961; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 2%;
  padding-left: 2%;
  padding-top: 6%;
  max-width: 98%;
  position: relative;
  z-index: 2; }

.row {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -1%;
  margin-left: -1%; }

.row.reverse {
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse; }

.col.reverse {
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  flex-direction: column-reverse; }

.col-0,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  padding-right: 1%;
  padding-left: 1%; }

.col-0 {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  -webkit-flex-basis: 0;
  flex-basis: 0;
  max-width: 100%; }

.col-1 {
  -ms-flex-preferred-size: 8.333%;
  -webkit-flex-basis: 8.333%;
  flex-basis: 8.333%;
  max-width: 8.333%; }

.col-2 {
  -ms-flex-preferred-size: 16.667%;
  -webkit-flex-basis: 16.667%;
  flex-basis: 16.667%;
  max-width: 16.667%; }

.col-3 {
  -ms-flex-preferred-size: 25%;
  -webkit-flex-basis: 25%;
  flex-basis: 25%;
  max-width: 25%; }

.col-4 {
  -ms-flex-preferred-size: 33.333%;
  -webkit-flex-basis: 33.333%;
  flex-basis: 33.333%;
  max-width: 33.333%; }

.col-5 {
  -ms-flex-preferred-size: 41.667%;
  -webkit-flex-basis: 41.667%;
  flex-basis: 41.667%;
  max-width: 41.667%; }

.col-6 {
  -ms-flex-preferred-size: 50%;
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
  max-width: 50%; }

.col-7 {
  -ms-flex-preferred-size: 58.333%;
  -webkit-flex-basis: 58.333%;
  flex-basis: 58.333%;
  max-width: 58.333%; }

.col-8 {
  -ms-flex-preferred-size: 66.667%;
  -webkit-flex-basis: 66.667%;
  flex-basis: 66.667%;
  max-width: 66.667%; }

.col-9 {
  -ms-flex-preferred-size: 75%;
  -webkit-flex-basis: 75%;
  flex-basis: 75%;
  max-width: 75%; }

.col-10 {
  -ms-flex-preferred-size: 83.333%;
  -webkit-flex-basis: 83.333%;
  flex-basis: 83.333%;
  max-width: 83.333%; }

.col-11 {
  -ms-flex-preferred-size: 91.667%;
  -webkit-flex-basis: 91.667%;
  flex-basis: 91.667%;
  max-width: 91.667%; }

.col-12 {
  -ms-flex-preferred-size: 100%;
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  max-width: 100%; }

.col-offset-1 {
  margin-left: 8.333%; }

.col-offset-2 {
  margin-left: 16.667%; }

.col-offset-3 {
  margin-left: 25%; }

.col-offset-4 {
  margin-left: 33.333%; }

.col-offset-5 {
  margin-left: 41.667%; }

.col-offset-6 {
  margin-left: 50%; }

.col-offset-7 {
  margin-left: 58.333%; }

.col-offset-8 {
  margin-left: 66.667%; }

.col-offset-9 {
  margin-left: 75%; }

.col-offset-10 {
  margin-left: 83.333%; }

.col-offset-11 {
  margin-left: 91.667%; }

.start {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  text-align: start; }

.center {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center; }

.end {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  -webkit-box-pack: end;
  justify-content: flex-end;
  text-align: end; }

.top {
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  -webkit-box-align: start;
  align-items: flex-start; }

.middle {
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center; }

.bottom {
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  -webkit-box-align: end;
  align-items: flex-end; }

.around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.between {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between; }

.first {
  -webkit-order: -1;
  -ms-flex-order: -1;
  -webkit-box-ordinal-group: 0;
  order: -1; }

.last {
  -webkit-order: 1;
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
  order: 1; }

@media screen and (max-width: 800px) {
  .col-sm-12 {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%; }

  .spc-sm {
    margin-bottom: 25px; } }
.navbar {
  top: 0;
  position: absolute;
  left: 0;
  width: 100%;
  height: 70px;
  color: #000;
  background: #E9E9E9;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.3); }

.navbar--fixed {
  position: fixed;
  z-index: 1000; }

.navbar--transparent {
  opacity: 0.9; }

.navbar--dark {
  background-color: #000;
  color: #E9E9E9; }

.navbar--primary {
  background-color: #0277bd;
  color: #E9E9E9; }

.navbar--success {
  background-color: #0A9E2F;
  color: #E9E9E9; }

.navbar--danger {
  background-color: #B71C1C;
  color: #E9E9E9; }

.navbar--warning {
  background-color: #f9a825;
  color: #E9E9E9; }

.navbar--info {
  background-color: #90caf9;
  color: #E9E9E9; }

.navbar--pink {
  background-color: #EC5961;
  color: #E9E9E9; }

.ul-links {
  float: right; }

.li-elements {
  list-style: none;
  margin-top: -40px;
  margin-right: 20px; }

.Brand {
  font-size: 25px;
  padding-top: 20px;
  padding-left: 10px;
  font-weight: bold; }

.dropdown-elements {
  display: none;
  position: absolute;
  background-color: #0277bd;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }

.dropdown:hover .dropdown-elements {
  display: block; }

.dr-elements {
  padding-left: 10px;
  padding-bottom: 5px;
  list-style: none; }

.BottomNavigation {
  display: none; }

@media screen and (max-width: 800px) {
  .navbar--transparent {
    opacity: initial; }

  .navbar {
    top: initial;
    bottom: 0;
    position: fixed;
    z-index: 1000; }

  .container {
    padding-bottom: 20%; }

  .ul-links {
    display: none; }

  .Brand {
    display: none; }

  .BottomNavigation {
    display: block; }

  .elementBottom {
    width: 100%;
    list-style: none;
    text-align: center; }

  .elementBottom__title {
    font-size: 12px; }

  .elementBottom:hover {
    color: #000; }

  .default:hover {
    color: #000; } }
/*Variables que definen los colores principales de Pavis.Css*/
/*Estilos inicializadores*/
body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff; }

a {
  text-decoration: none; }

.default {
  color: #E9E9E9; }

.primary {
  color: #0277bd; }

.success {
  color: #0A9E2F; }

.warning {
  color: #f9a825; }

.danger {
  color: #B71C1C; }

.info {
  color: #90caf9; }

.dark {
  color: #000; }

.pink {
  color: #EC5961; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 2%;
  padding-left: 2%;
  padding-top: 6%;
  max-width: 98%;
  position: relative;
  z-index: 2; }

.row {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -1%;
  margin-left: -1%; }

.row.reverse {
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse; }

.col.reverse {
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  flex-direction: column-reverse; }

.col-0,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  padding-right: 1%;
  padding-left: 1%; }

.col-0 {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  -webkit-flex-basis: 0;
  flex-basis: 0;
  max-width: 100%; }

.col-1 {
  -ms-flex-preferred-size: 8.333%;
  -webkit-flex-basis: 8.333%;
  flex-basis: 8.333%;
  max-width: 8.333%; }

.col-2 {
  -ms-flex-preferred-size: 16.667%;
  -webkit-flex-basis: 16.667%;
  flex-basis: 16.667%;
  max-width: 16.667%; }

.col-3 {
  -ms-flex-preferred-size: 25%;
  -webkit-flex-basis: 25%;
  flex-basis: 25%;
  max-width: 25%; }

.col-4 {
  -ms-flex-preferred-size: 33.333%;
  -webkit-flex-basis: 33.333%;
  flex-basis: 33.333%;
  max-width: 33.333%; }

.col-5 {
  -ms-flex-preferred-size: 41.667%;
  -webkit-flex-basis: 41.667%;
  flex-basis: 41.667%;
  max-width: 41.667%; }

.col-6 {
  -ms-flex-preferred-size: 50%;
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
  max-width: 50%; }

.col-7 {
  -ms-flex-preferred-size: 58.333%;
  -webkit-flex-basis: 58.333%;
  flex-basis: 58.333%;
  max-width: 58.333%; }

.col-8 {
  -ms-flex-preferred-size: 66.667%;
  -webkit-flex-basis: 66.667%;
  flex-basis: 66.667%;
  max-width: 66.667%; }

.col-9 {
  -ms-flex-preferred-size: 75%;
  -webkit-flex-basis: 75%;
  flex-basis: 75%;
  max-width: 75%; }

.col-10 {
  -ms-flex-preferred-size: 83.333%;
  -webkit-flex-basis: 83.333%;
  flex-basis: 83.333%;
  max-width: 83.333%; }

.col-11 {
  -ms-flex-preferred-size: 91.667%;
  -webkit-flex-basis: 91.667%;
  flex-basis: 91.667%;
  max-width: 91.667%; }

.col-12 {
  -ms-flex-preferred-size: 100%;
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  max-width: 100%; }

.col-offset-1 {
  margin-left: 8.333%; }

.col-offset-2 {
  margin-left: 16.667%; }

.col-offset-3 {
  margin-left: 25%; }

.col-offset-4 {
  margin-left: 33.333%; }

.col-offset-5 {
  margin-left: 41.667%; }

.col-offset-6 {
  margin-left: 50%; }

.col-offset-7 {
  margin-left: 58.333%; }

.col-offset-8 {
  margin-left: 66.667%; }

.col-offset-9 {
  margin-left: 75%; }

.col-offset-10 {
  margin-left: 83.333%; }

.col-offset-11 {
  margin-left: 91.667%; }

.start {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  text-align: start; }

.center {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center; }

.end {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  -webkit-box-pack: end;
  justify-content: flex-end;
  text-align: end; }

.top {
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  -webkit-box-align: start;
  align-items: flex-start; }

.middle {
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center; }

.bottom {
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  -webkit-box-align: end;
  align-items: flex-end; }

.around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.between {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between; }

.first {
  -webkit-order: -1;
  -ms-flex-order: -1;
  -webkit-box-ordinal-group: 0;
  order: -1; }

.last {
  -webkit-order: 1;
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
  order: 1; }

@media screen and (max-width: 800px) {
  .col-sm-12 {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%; }

  .spc-sm {
    margin-bottom: 25px; } }
.navbar {
  top: 0;
  position: absolute;
  left: 0;
  width: 100%;
  height: 70px;
  color: #000;
  background: #E9E9E9;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.3); }

.navbar--fixed {
  position: fixed;
  z-index: 1000; }

.navbar--transparent {
  opacity: 0.9; }

.navbar--dark {
  background-color: #000;
  color: #E9E9E9; }

.navbar--primary {
  background-color: #0277bd;
  color: #E9E9E9; }

.navbar--success {
  background-color: #0A9E2F;
  color: #E9E9E9; }

.navbar--danger {
  background-color: #B71C1C;
  color: #E9E9E9; }

.navbar--warning {
  background-color: #f9a825;
  color: #E9E9E9; }

.navbar--info {
  background-color: #90caf9;
  color: #E9E9E9; }

.navbar--pink {
  background-color: #EC5961;
  color: #E9E9E9; }

.ul-links {
  float: right; }

.li-elements {
  list-style: none;
  margin-top: -40px;
  margin-right: 20px; }

.Brand {
  font-size: 25px;
  padding-top: 20px;
  padding-left: 10px;
  font-weight: bold; }

.dropdown-elements {
  display: none;
  position: absolute;
  background-color: #0277bd;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }

.dropdown:hover .dropdown-elements {
  display: block; }

.dr-elements {
  padding-left: 10px;
  padding-bottom: 5px;
  list-style: none; }

.BottomNavigation {
  display: none; }

@media screen and (max-width: 800px) {
  .navbar--transparent {
    opacity: initial; }

  .navbar {
    top: initial;
    bottom: 0;
    position: fixed;
    z-index: 1000; }

  .container {
    padding-bottom: 20%; }

  .ul-links {
    display: none; }

  .Brand {
    display: none; }

  .BottomNavigation {
    display: block; }

  .elementBottom {
    width: 100%;
    list-style: none;
    text-align: center; }

  .elementBottom__title {
    font-size: 12px; }

  .elementBottom:hover {
    color: #000; }

  .default:hover {
    color: #000; } }
/*Variables que definen los colores principales de Pavis.Css*/
/*Estilos inicializadores*/
body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff; }

a {
  text-decoration: none; }

.default {
  color: #E9E9E9; }

.primary {
  color: #0277bd; }

.success {
  color: #0A9E2F; }

.warning {
  color: #f9a825; }

.danger {
  color: #B71C1C; }

.info {
  color: #90caf9; }

.dark {
  color: #000; }

.pink {
  color: #EC5961; }

.body--nightmode {
  background-color: #141D26; }

.container--nightmode {
  background-color: #1B2836;
  color: #fff; }

.navbar--nightmode {
  background-color: #243447;
  color: #8899A6; }

.text-nightmode {
  color: #8899A6; }

.text-nightmode:hover {
  color: #0277bd; }

.dropdown-elements--nightmode {
  background-color: #243447; }

/*Variables que definen los colores principales de Pavis.Css*/
/*Estilos inicializadores*/
body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff; }

a {
  text-decoration: none; }

.default {
  color: #E9E9E9; }

.primary {
  color: #0277bd; }

.success {
  color: #0A9E2F; }

.warning {
  color: #f9a825; }

.danger {
  color: #B71C1C; }

.info {
  color: #90caf9; }

.dark {
  color: #000; }

.pink {
  color: #EC5961; }

.btn {
  background-color: #E9E9E9;
  color: #000;
  width: auto;
  height: 25px;
  padding: 8px 10px;
  border-radius: 2px;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.1); }

/*buttons sizes*/
.btn--small {
  font-size: 10px;
  height: 10px; }

.btn--large {
  font-size: 30px;
  height: 30px; }

/*buttons color*/
.btn--primary {
  background-color: #0277bd;
  color: #E9E9E9; }

.btn--success {
  background-color: #0A9E2F;
  color: #E9E9E9; }

.btn--danger {
  background-color: #B71C1C;
  color: #E9E9E9; }

.btn--warning {
  background-color: #f9a825;
  color: #E9E9E9; }

.btn--info {
  background-color: #90caf9;
  color: #E9E9E9; }

.btn--dark {
  background-color: #000;
  color: #E9E9E9; }

.btn--outline-primary {
  background-color: transparent;
  color: #0277bd;
  border-style: solid;
  border-color: #0277bd;
  border-width: 2px; }

.btn--outline-success {
  background-color: transparent;
  color: #0A9E2F;
  border-style: solid;
  border-color: #0A9E2F;
  border-width: 2px; }

.btn--outline-danger {
  background-color: transparent;
  color: #B71C1C;
  border-style: solid;
  border-color: #B71C1C;
  border-width: 2px; }

.btn--outline-warning {
  background-color: transparent;
  color: #f9a825;
  border-style: solid;
  border-color: #f9a825;
  border-width: 2px; }

.btn--outline-info {
  background-color: transparent;
  color: #90caf9;
  border-style: solid;
  border-color: #90caf9;
  border-width: 2px; }

.btn--outline-dark {
  background-color: transparent;
  color: #000;
  border-style: solid;
  border-color: #000;
  border-width: 2px; }

.btn--outline-primary:hover {
  background-color: #0277bd;
  color: #E9E9E9; }

.btn--outline-success:hover {
  background-color: #0A9E2F;
  color: #E9E9E9; }

.btn--outline-danger:hover {
  background-color: #B71C1C;
  color: #E9E9E9; }

.btn--outline-warning:hover {
  background-color: #f9a825;
  color: #E9E9E9; }

.btn--outline-info:hover {
  background-color: #90caf9;
  color: #E9E9E9; }

.btn--outline-dark:hover {
  background-color: #000;
  color: #E9E9E9; }

/*Variables que definen los colores principales de Pavis.Css*/
/*Estilos inicializadores*/
body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff; }

a {
  text-decoration: none; }

.default {
  color: #E9E9E9; }

.primary {
  color: #0277bd; }

.success {
  color: #0A9E2F; }

.warning {
  color: #f9a825; }

.danger {
  color: #B71C1C; }

.info {
  color: #90caf9; }

.dark {
  color: #000; }

.pink {
  color: #EC5961; }

.input-form {
  width: 100%;
  height: 25px;
  padding-left: 10px;
  font-family: "https://fonts.googleapis.com/css?family=Roboto"; }

.label {
  font-weight: bold;
  width: 100%;
  height: 25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.select-form {
  border-radius: 8px;
  background-color: #fff;
  width: 100%;
  height: 40px;
  padding-left: 10px;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.check-form {
  width: 25px;
  height: 25px; }

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #E9E9E9;
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + .slider {
  background-color: #0277bd; }

input:checked + .slider--success {
  background-color: #0A9E2F; }

input:checked + .slider--pink {
  background-color: #EC5961; }

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }

.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

.avatar-img {
  width: 70px;
  height: 70px;
  background-size: cover;
  background-position: top center;
  border-radius: 50%; }

.gray-img {
  filter: grayscale(100%); }

.blur-img {
  filter: blur(3px); }

.sepia-img {
  filter: sepia(100%); }

.brightness-img {
  filter: brightness(50%); }

/*# sourceMappingURL=estilos.css.map */
