@import "variables";
.btn {
    background-color: $default;
    color: $dark;
    width: auto;
    height: 25px;
    padding: 8px 10px;
    border-radius: (2px);
    box-shadow: 0px 3px 2px rgba(0, 0, 0, .1);
}


/*buttons sizes*/

.btn--small {
    font-size: 10px;
    height: 10px;
}

.btn--large {
    font-size: 30px;
    height: 30px;
}


/*buttons color*/

.btn--primary {
    background-color: $primary;
    color: $default;
}

.btn--success {
    background-color: $success;
    color: $default;
}

.btn--danger {
    background-color: $danger;
    color: $default;
}

.btn--warning {
    background-color: $warning;
    color: $default;
}

.btn--info {
    background-color: $info;
    color: $default;
}

.btn--dark {
    background-color: $dark;
    color: $default;
}

.btn--outline-primary {
    background-color: transparent;
    color: $primary;
    border-style: solid;
    border-color: $primary;
    border-width: 2px;
}

.btn--outline-success {
    background-color: transparent;
    color: $success;
    border-style: solid;
    border-color: $success;
    border-width: 2px;
}

.btn--outline-danger {
    background-color: transparent;
    color: $danger;
    border-style: solid;
    border-color: $danger;
    border-width: 2px;
}

.btn--outline-warning {
    background-color: transparent;
    color: $warning;
    border-style: solid;
    border-color: $warning;
    border-width: 2px;
}

.btn--outline-info {
    background-color: transparent;
    color: $info;
    border-style: solid;
    border-color: $info;
    border-width: 2px;
}

.btn--outline-dark {
    background-color: transparent;
    color: $dark;
    border-style: solid;
    border-color: $dark;
    border-width: 2px;
}

.btn--outline-primary:hover {
    background-color: $primary;
    color: $default;
}

.btn--outline-success:hover {
    background-color: $success;
    color: $default;
}

.btn--outline-danger:hover {
    background-color: $danger;
    color: $default;
}

.btn--outline-warning:hover {
    background-color: $warning;
    color: $default;
}

.btn--outline-info:hover {
    background-color: $info;
    color: $default;
}

.btn--outline-dark:hover {
    background-color: $dark;
    color: $default;
}