.avatar-img {
    width: 70px;
    height: 70px;
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
}

.gray-img {
    filter: grayscale(100%);
}

.blur-img {
    filter: blur(3px);
}

.sepia-img {
    filter: sepia(100%);
}

.brightness-img {
    filter: brightness(50%);
}