@import "header";
@import "variables";
.body--nightmode {
    background-color: $nightmode-body;
}

.container--nightmode {
    background-color: $nightmode-content;
    color: $white;
}

.navbar--nightmode {
    background-color: $nightmode-navbar;
    color: $nightmode-navbar-text;
}

.text-nightmode {
    color: $nightmode-navbar-text;
}

.text-nightmode:hover {
    color: $primary;
}

.dropdown-elements--nightmode {
    background-color: $nightmode-navbar;
}