@import "variables";
.input-form {
    width: 100%;
    height: 25px;
    padding-left: 10px;
    font-family: $fontstyle;
}

.label {
    font-weight: bold;
    width: 100%;
    height: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.select-form {
    border-radius: 8px;
    background-color: #fff;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.check-form {
    width: 25px;
    height: 25px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $back-color-togle;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: $default;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: $primary;
}

input:checked+.slider--success {
    background-color: $success;
}

input:checked+.slider--pink {
    background-color: $pink;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}