@import "variables";
@import "grilla";
.navbar {
    top: 0;
    position: absolute;
    left: 0;
    width: 100%;
    height: 70px;
    color: $dark;
    background: $default;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, .3);
}

.navbar--fixed {
    position: fixed;
    z-index: 1000;
}

.navbar--transparent {
    opacity: 0.9;
}

.navbar--dark {
    background-color: $dark;
    color: $default;
}

.navbar--primary {
    background-color: $primary;
    color: $default;
}

.navbar--success {
    background-color: $success;
    color: $default;
}

.navbar--danger {
    background-color: $danger;
    color: $default;
}

.navbar--warning {
    background-color: $warning;
    color: $default;
}

.navbar--info {
    background-color: $info;
    color: $default;
}

.navbar--pink {
    background-color: $pink;
    color: $default;
}

.ul-links {
    float: right;
}

.li-elements {
    list-style: none;
    margin-top: -40px;
    margin-right: 20px;
}

.Brand {
    font-size: 25px;
    padding-top: 20px;
    padding-left: 10px;
    font-weight: bold;
}

.dropdown-elements {
    display: none;
    position: absolute;
    background-color: $primary;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-elements {
    display: block;
}

.dr-elements {
    padding-left: 10px;
    padding-bottom: 5px;
    list-style: none;
}

.BottomNavigation {
    display: none;
}

@media screen and (max-width:800px) {
    .navbar--transparent {
        opacity: initial;
    }
    .navbar {
        top: initial;
        bottom: 0;
        position: fixed;
        z-index: 1000;
    }
    .container {
        padding-bottom: 20%;
    }
    .ul-links {
        display: none;
    }
    .Brand {
        display: none;
    }
    .BottomNavigation {
        display: block;
    }
    .elementBottom {
        width: 100%;
        list-style: none;
        text-align: center;
    }
    .elementBottom__title {
        font-size: 12px;
    }
    .elementBottom:hover {
        color: $dark;
    }
    .default:hover {
        color: $dark;
    }
}