/*Variables que definen los colores principales de Pavis.Css*/

$default:#E9E9E9;
$dark:#000;
$primary:#0277bd;
$success:#0A9E2F;
$danger:#B71C1C;
$warning:#f9a825;
$info:#90caf9;
$white:#fff;
$pink:#EC5961;
//nightmode styles
$nightmode-body:#141D26;
$nightmode-content:#1B2836;
$nightmode-navbar:#243447;
$nightmode-navbar-text:#8899A6;
//Toogle colors
$back-color-togle:#ccc;
//FONTS
$fontstyle:"https://fonts.googleapis.com/css?family=Roboto";

/*Estilos inicializadores*/

body {
    font-family: 'Roboto', sans-serif;
    background-color: $white;
}

a {
    text-decoration: none;
}

.default {
    color: $default;
}

.primary {
    color: $primary;
}

.success {
    color: $success;
}

.warning {
    color: $warning;
}

.danger {
    color: $danger;
}

.info {
    color: $info;
}

.dark {
    color: $dark;
}

.pink {
    color: $pink;
}